html {
  font-family: 'Microsoft YaHei', 'PingFang SC', -apple-system, system-ui,
  'Segoe UI', Roboto, Ubuntu, Cantarell, 'Noto Sans', BlinkMacSystemFont,
  'Helvetica Neue', 'Hiragino Sans GB', Arial, sans-serif;

  --color-arona-blue: #3f88f2;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#app {
  position: relative;
  overflow: hidden;
  height: calc(var(--vh, 1vh) * 100);
  height: calc(var(--vh, 1dvh) * 100);
}
.koharu-canvas {
  transform-origin: 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}


.action-button {
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  width: fit-content;
  cursor: pointer;
  transform: skew(-10deg);
  background: linear-gradient(to right, rgba(244, 245, 247, 1), rgba(223, 234, 255, 1));

  .action-button-pic {
    transform: skew(10deg);
    svg, img {
      width: 2rem;
      height: 2rem;
    }
  }
}
